:root {
  --logo-blue: #0f7ad9;
  --primary-color: #ffe156;
  /* --primary-color-hover: #ffe056b9; */
  --primary-color-hover: #dfb800;
  --secondary-color: #5674ff;
  --secondary-color-hover: #395aeb;
  --tertiary-color: #a156ff;
  --quaternary-color: #baabbd;
  --black: #000000;
  --black-hover: #2b2929;
  --black-clear: rgba(0, 0, 0, 0.7);
  --white: #ffffff;
  --white-hover: #f2f2f2;
  --grey: #ccc;
  --disabled: #767676;

  --mobile-margins: 20px 10px;
  --tablet-margins: 40px 20px;
  --desktop-margins: 60px 30px;

  --desktop-max-width: 1920px;

  --font-size-tiny: 12px;
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 18px;
  --font-size-xlarge: 21px;
  --font-size-xxl: 24px;
  --font-size-xxxl: 28px;
  --font-size-big: 30px;
  --font-size-xbig: 32px;
  --font-size-xxbig: 35px;

  /* For headings */
  --font-family-lato: 'Lato', sans-serif;
  /* For paragraphs */
  --font-family-roboto: 'Roboto Flex', sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--font-size-small);
  font-family: 'Inter', sans-serif;
  /* font-family: 'Lato', sans-serif; */
}

:host {
  all: initial;
  display: block;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.spacer {
  height: 1px;
}

.hero-banner {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.1));
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .hero-banner::after {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
} */

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  /* transform: scale(1.2); */
}

.hero-banner-text {
  text-align: center;
  color: var(--white);
  z-index: 2;
}

.hero-banner-text h1 {
  /* font-size: 3.5rem; */
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.hero-banner-text p {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

.hero-banner nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-banner nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

/* @media screen and (min-width: 750px) {
  .hero-banner-text h1 {
    font-size: 2.5rem;
  }
  .hero-banner-text p {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero-banner-text h1 {
    font-size: 3.5rem;
  }
  .hero-banner-text p {
    font-size: 2rem;
  }
} */

/*****************
* SKELETON       *
******************/
.skeleton {
  position: relative;
  overflow: hidden;
  background-color: rgb(211, 211, 211);
}
.skeleton::after {
  content: '';
  position: absolute;
  left: -45%;
  height: 100%;
  width: 45%;
  background-image: linear-gradient(
    to left,
    rgba(251, 251, 251, 0.05),
    rgba(251, 251, 251, 0.3),
    rgba(251, 251, 251, 0.6),
    rgba(251, 251, 251, 0.3),
    rgba(251, 251, 251, 0.05)
  );
  background-image: -moz-linear-gradient(
    to left,
    rgba(251, 251, 251, 0.05),
    rgba(251, 251, 251, 0.3),
    rgba(251, 251, 251, 0.6),
    rgba(251, 251, 251, 0.3),
    rgba(251, 251, 251, 0.05)
  );
  background-image: -webkit-linear-gradient(
    to left,
    rgba(251, 251, 251, 0.05),
    rgba(251, 251, 251, 0.3),
    rgba(251, 251, 251, 0.6),
    rgba(251, 251, 251, 0.3),
    rgba(251, 251, 251, 0.05)
  );
  animation: skeleton 1s infinite;
}
@keyframes skeleton {
  0% {
    left: -45%;
  }
  100% {
    left: 100%;
  }
}

/***************
* BANNER       *
****************/
.banner {
  background-image: url(./assets/seasonal/winter-2024-small.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100%; */
}
.banner.skeleton {
  height: 500px;
}

.banner img {
  opacity: 0;
  object-fit: contain;
  width: 100%;
}

.banner img.loaded {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

/***************
* CTA          *
****************/
.cta {
  margin: var(--mobile-margins);
}
.cta .container {
  margin: auto;
  width: 100%;
  position: relative;
  max-width: var(--desktop-max-width);
}
.cta .header {
  margin: 8px 16px 16px 0;
  border-bottom: 0.8px solid rgb(0, 0, 0);
  padding-bottom: 8px;
}
.cta .header h2 {
  width: 100%;
  font-weight: 500;
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxl);
  line-height: 32px;
  letter-spacing: 0.4px;
}
.cta .container .content {
  display: flex;
  /* border: 2px solid black; */
}
.cta .container .content .scroll-items {
  scroll-snap-type: x mandatory;
  display: flex;
  overflow-x: scroll;
  /* padding: 5px; */
}
.cta .container .content .scroll-items::-webkit-scrollbar {
  display: none;
}
.cta .container .content .scroll-items .cta-item {
  scroll-snap-align: center;
  display: flex;
  color: var(--black);
  background-size: 150%;
  background-position: left;
  -webkit-transition: background-position 250ms ease-in-out;
  transition: background-position 250ms ease-in-out;
  align-items: center;
  background-image: linear-gradient(90deg, #f3d28b, #83bcfd, #5381ff);
  border-radius: 15px;
}
.cta .container .content .scroll-items .cta-item:hover {
  background-position: right;
  transform: scale(1.02);
  text-decoration: none;
}
.cta .container .content .scroll-items .cta-item.skeleton {
  filter: blur(1em);
}
.cta .container .content .scroll-items .cta-item .left-area {
  margin: 10px 0px 10px 10px;
}
.cta .container .content .scroll-items .cta-item .left-area img {
  opacity: 0.5;
  object-fit: contain;
  width: 50px;
  height: 50px;
}
.cta .container .content .scroll-items .cta-item .left-area img.loaded {
  opacity: 1;
  transition: opacity 400ms ease-in;
}
.cta .container .content .scroll-items .cta-item .right-area {
  margin: 10px 20px;
  width: 100%;
}
.cta .container .content .scroll-items .cta-item .right-area .top-side h2,
p {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
}
.cta .container .content .scroll-items .cta-item .right-area .top-side h2 {
  letter-spacing: 1.5px;
  font-size: var(--font-size-large);
  font-family: var(--font-family-lato);
  font-weight: 600;
  -webkit-line-clamp: 1;
}
.cta .container .content .scroll-items .cta-item .right-area .bottom-side p {
  font-weight: 300;
  -webkit-line-clamp: 3;
}
.cta .container .content button {
  /* margin: auto; */
  /* position: absolute; */
  color: var(--white);
  background: var(--black);
  /* opacity: 0.5; */
  border: none;
  /* border-radius: 20px; */
  /* padding: 11px 15px; */
  /* height: 40px; */
  padding: 0px 15px;
  cursor: pointer;
  transition: transform 500ms ease-in-out;
  display: none;
}
.cta .container .content button.disabled {
  opacity: 0.3;
}
.cta .container .content button.cta-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.cta .container .content button.cta-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.cta .container .content button:hover {
  color: var(--white-hover);
  /* background: var(--black-hover); */
}
.cta .container .content button.disabled:hover {
  cursor: default;
  color: var(--white);
  background: var(--black);
}
.cta .container .content button.cta-left:hover i {
  transform: scale(1.3);
}
.cta .container .content button.cta-left.disabled:hover i {
  transform: none;
}
.cta .container .content button.cta-right:hover i {
  transform: scale(1.3);
}
.cta .container .content button.cta-right.disabled:hover i {
  transform: none;
}

/****************
* BENEFITS      *
*****************/
.benefits {
  margin: 20px 0px 20px 10px;
}
.benefits .container {
  width: 100%;
  margin: auto;
}
.benefits .header {
  margin: 8px 16px 16px 0;
  border-bottom: 0.8px solid rgb(0, 0, 0);
  padding-bottom: 8px;
}
.benefits .header h2 {
  width: 100%;
  font-weight: 500;
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxl);
  line-height: 32px;
  letter-spacing: 0.4px;
}
.benefits .content .picture-nav .gallery {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 95%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-behavior: smooth;
  cursor: grab;
}
.benefits .content .picture-nav .gallery.active {
  scroll-behavior: auto;
  cursor: grabbing;
}
.benefits .content .picture-nav .gallery::-webkit-scrollbar {
  display: none;
}
.benefits .content .picture-nav .gallery img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  pointer-events: none;
}
.benefits .content .picture-nav .gallery.snaps-inline {
  scroll-snap-type: inline mandatory;
}
.benefits .content .picture-nav .gallery.snaps-inline > * {
  scroll-snap-align: start;
}
.benefits .content .picture-nav nav {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid orange; */
  margin: 20px 16px 16px 0;
}
.benefits .content .picture-nav nav .buttons {
  padding-right: 40px;
}
.benefits .content .picture-nav nav button {
  color: black;
  background: transparent;
  border: 1px solid black;
  border-radius: 20px;
  padding: 11px 15px;
  cursor: pointer;
  transition: border-color, background-color 0.4s ease;
}
.benefits .content .picture-nav nav button:last-child {
  margin-left: 5px;
}
.benefits .content .picture-nav nav button:hover {
  color: var(--black-hover);
  background-color: var(--secondary-color-hover);
  border-color: var(--secondary-color-hover);
}
.benefits .content .picture-nav nav button.disabled {
  opacity: 0.4;
  cursor: default;
  color: var(--disabled);
  border-color: var(--disabled);
}
.benefits .content .picture-nav nav button.disabled:hover {
  background-color: transparent;
}
.benefits .content .picture-nav nav button.active {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}
.benefits .content .picture-nav nav button.active:hover {
  color: var(--black-hover);
  background-color: var(--secondary-color-hover);
  border-color: var(--secondary-color-hover);
}
.benefits .content .description {
  margin: 20px 16px 16px 0;
  opacity: 1;
  transition: all 0.25s ease;
}
.benefits .content .description h3,
p {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
}
.benefits .content .description h3 {
  font-size: var(--font-size-xbig);
  font-family: var(--font-family-lato);
  font-weight: 400;
  -webkit-line-clamp: 3;
}
.benefits .content .description > p {
  margin: 16px 0px;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-medium);
  font-weight: 200;
  line-height: 24px;
  letter-spacing: 0.5px;
  -webkit-line-clamp: 12;
}
.benefits .content .description a {
  max-width: 90%;
  margin: 20px 16px 16px 0;
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  color: var(--black);
  text-decoration: none;
  border: solid;
  border-width: 0.8px;
  border-color: var(--black);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.benefits .content .description a:hover {
  background-color: var(--black);
  color: var(--white);
}
.benefits .content .description a:hover i {
  color: var(--primary-color);
  transform: scale(1) translate(3px);
}
.benefits .content .description a p {
  margin: 5px 10px 5px 10px;
  min-width: 100px;
  text-align: center;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-medium);
  -webkit-line-clamp: 1;
}
.benefits .content .description a i {
  margin: 5px 10px 5px 0px;
  transition: transform 0.25s ease;
}

/***************
* HEADER       *
****************/
header {
  width: 100%;
}

header.skeleton {
  background-color: #000000;
  height: 120px;
  opacity: 0.7;
}

header a {
  position: relative;
  text-align: center;
  font-size: var(--font-size-medium);
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

header a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  transform: scaleY(2.5);
  opacity: 0;
  transition: 0.3s;
}

header a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transform: scale(0);
  opacity: 1;
  transition: 0.3s;
  z-index: -1;
}

header a:hover,
header a:focus,
header a:active {
  color: #000000;
  &:before {
    transform: scaleY(1.5);
    opacity: 1;
  }
  &:after {
    transform: scaleY(1.5);
    opacity: 1;
  }
}

header button {
  color: var(--white);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

header .fullbar ul li img {
  opacity: 0;
}
header .fullbar ul li img.loaded {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

header .fullbar {
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  padding: 20px 30px;
  transition: 0.6s;
  z-index: 1;
}

header .fullbar.sticky {
  transition: 0.6s;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  background-color: #000000b4;
}

header .fullbar.static {
  background-color: #000000;
  position: relative;
  transition: 0.6s;
}

header .fullbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .fullbar ul img {
  width: 75%;
}

header .fullbar ul li:first-child {
  margin-right: auto;
}

header .fullbar ul li {
  display: flex;
}

header .fullbar ul li a {
  padding: 0px 30px;
}

header .fullbar ul li button {
  margin-left: 30px;
}

header .sidebar {
  /* box-shadow: -10px 0 10px rgba(19, 19, 19, 0.123); */
  box-shadow: -10px 0 20px #00000096;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: #000000;
  z-index: 999;
  transition: 0.4s;
  display: none;
}

header .sidebar ul {
  margin: 20px 30px;
  width: 100%;
}

header .sidebar ul li:first-child {
  justify-content: flex-end;
  margin: 5px 0px;
}

header .sidebar ul li {
  padding: 10px 0px;
  margin: 30px 0px;
  display: flex;
  justify-content: flex-start;
}

header .sidebar ul li a {
  width: 100%;
  text-align: left;
  padding: 0px 15px;
}

/***************
* FOOTER       *
****************/
footer {
  width: 100%;
}

footer.skeleton {
  height: 500px;
}

footer .content {
  margin: 20px;
}

footer .fat-list {
  max-width: 2000px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

footer .fat-list .list-group .heading {
  text-transform: uppercase;
  color: var(--black);
  font-size: var(--font-size-medium);
  font-weight: 650;
}

footer .fat-list .list-group ul {
  margin-top: 15px;
}

footer .fat-list .list-group ul li {
  padding: 8px 0px;
}

footer .fat-list .list-group ul li a {
  font-size: var(--font-size-small);
  color: var(--black);
  text-decoration: none;
}

footer .collapsible {
  border-bottom: 2px rgb(216, 216, 216) solid;
  padding: 10px 0px;
  width: 100%;
}

footer .collapsible .heading button {
  background-color: transparent;
  border: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px 0px;
}

footer .collapsible .heading button p {
  text-transform: uppercase;
  color: var(--black);
  font-size: var(--font-size-medium);
  font-weight: 650;
}

footer .collapsible .heading i {
  color: var(--black);
}

footer .collapsible .collapsible-content {
  opacity: 1;
  transition: 0.5s ease;
}

footer .collapsible .collapsible-content.hidden {
  opacity: 0;
  display: none;
  transition: 0.5s ease;
}

footer .collapsible .collapsible-content ul {
  margin-bottom: 30px;
}

footer .collapsible .collapsible-content ul li {
  padding: 15px 0px;
}

footer .collapsible .collapsible-content ul li a {
  font-size: var(--font-size-small);
  padding: 15px 0px;
  color: var(--black);
  text-decoration: none;
}

footer .social {
  margin: 50px 0px;
  width: 100%;
}

footer .social ul {
  display: flex;
  max-width: 500px;
}

footer .social ul li a {
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--black);
  border-radius: 50%;
}

footer .social ul li a:hover {
  background-color: var(--primary-color-hover);
  color: var(--white);
  transition: 0.5s;
}

footer .copyright {
  margin: 50px 0px;
  text-align: center;
  color: rgb(88, 89, 91);
  font-size: var(--font-size-small);
  font-weight: 600;
  text-transform: uppercase;
}

/***************
* MEDIA        *
****************/
@media (max-width: 299px) {
  header .fullbar ul li:not(:first-child):not(:last-child) {
    display: none;
  }
  header .sidebar {
    width: 100%;
  }

  .cta .container .content .scroll-items .cta-item {
    flex-shrink: 0;
    width: 250px;
    margin: 0px 5px;
  }
  .cta .container .content .scroll-items .cta-item:first-of-type {
    margin: 0px 5px 0px 0px;
  }
  .cta .container .content .scroll-items .cta-item:last-of-type {
    margin: 0px 0px 0px 5px;
  }
  .cta .container .content .scroll-items .cta-item .left-area {
    display: none;
  }
  .cta .container .content .scroll-items .cta-item .right-area {
    margin: 5px 15px;
  }
  .cta .container .content .scroll-items .cta-item .right-area .top-side h2 {
    font-size: var(--font-size-medium);
  }
  .cta .container .content .scroll-items .cta-item .right-area .bottom-side p {
    font-size: var(--font-size-tiny);
  }

  footer .content nav.fat-list {
    display: none;
  }
  footer .social ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
  footer .social li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px 0px;
  }
  footer .social ul li a {
    padding: 20px 15px;
    background-color: transparent;
    font-size: 0.9rem;
  }
}

@media (max-width: 500px) and (min-width: 300px) {
  header .fullbar ul li:not(:first-child):not(:last-child) {
    display: none;
  }

  .cta .content .scroll-items .cta-item {
    flex-shrink: 0;
    width: 300px;
    margin: 0px 10px;
  }
  .cta .container .content .scroll-items .cta-item:first-of-type {
    margin: 0px 10px 0px 0px;
  }
  .cta .container .content .scroll-items .cta-item:last-of-type {
    margin: 0px 0px 0px 10px;
  }

  footer .content nav.fat-list {
    display: none;
  }
  footer .social ul li {
    margin: 30px auto;
  }

  footer .social ul li a {
    padding: 20px 15px;
  }
}

@media (max-width: 750px) and (min-width: 501px) {
  header .fullbar ul li:not(:first-child):not(:nth-child(2)):not(:nth-child(3)):not(:last-child) {
    display: none;
  }
  header .sidebar li:nth-child(2),
  header .sidebar li:nth-child(3) {
    display: none;
  }

  .cta .container .content .scroll-items .cta-item {
    flex-shrink: 0;
    width: 300px;
    margin: 0px 10px;
  }
  .cta .container .content .scroll-items .cta-item:first-of-type {
    margin: 0px 10px 0px 0px;
  }
  .cta .container .content .scroll-items .cta-item:last-of-type {
    margin: 0px 0px 0px 10px;
  }

  footer .content nav.fat-list {
    display: none;
  }
  footer .social ul {
    margin: auto;
  }
  footer .social ul li {
    margin: 30px auto;
  }
  footer .social ul li a {
    padding: 20px 15px;
  }
}

@media (max-width: 750px) {
  .benefits .content .picture-nav nav {
    display: none;
  }
}

@media (max-width: 1200px) and (min-width: 751px) {
  header .fullbar ul li:not(:first-child):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)):not(:last-child) {
    display: none;
  }
  header .sidebar li:nth-child(2),
  header .sidebar li:nth-child(3),
  header .sidebar li:nth-child(4) {
    display: none;
  }

  .cta {
    margin: var(--tablet-margins);
  }
  .cta .header {
    width: 50%;
  }
  .cta .container .content .scroll-items {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
  .cta .container .content .scroll-items .cta-item {
    height: 100px;
    width: 45%;
    margin: 5px 10px 5px 0px;
  }

  .benefits {
    margin: 40px 0px 40px 20px;
  }
  .benefits .container .header {
    width: 50%;
  }
  .benefits .container .content {
    display: flex;
    flex-direction: row-reverse;
  }
  .benefits .container .content .picture-nav {
    width: 50%;
  }
  .benefits .container .content .description {
    width: 50%;
  }

  footer .content nav.compact-list {
    display: none;
  }
  footer .social ul {
    margin: auto;
  }
  footer .social ul li {
    margin: 30px auto;
  }
  footer .social ul li a {
    padding: 20px 15px;
  }
}

@media (min-width: 1201px) {
  header .fullbar ul li:last-child {
    display: none;
  }
  header .sidebar {
    display: none !important;
  }

  .cta {
    /* margin: var(--desktop-margins); */
    margin: 100px 30px;
  }
  .cta .header {
    width: 30%;
  }
  .cta .header h2 {
    font-size: var(--font-size-big);
  }
  .cta .container .content .scroll-items .cta-item {
    width: 500px;
    flex-shrink: 0;
    margin: 0px 15px;
  }
  .cta .container .content .cta-item:first-of-type {
    margin: 0px 15px 0px 20px;
  }
  .cta .container .content .cta-item:last-of-type {
    margin: 0px 20px 0px 15px;
  }
  .cta .container .content button {
    display: block;
  }

  .benefits {
    /* margin: 60px 0px 60px 30px; */
    margin: var(--desktop-margins);
  }
  .benefits .container {
    max-width: var(--desktop-max-width);
  }
  .benefits .container .header {
    width: 30%;
  }
  .benefits .container .header h2 {
    font-size: var(--font-size-big);
  }
  .benefits .container .content {
    display: flex;
    flex-direction: row-reverse;
  }
  .benefits .container .content .picture-nav {
    width: 70%;
  }
  .benefits .container .content .picture-nav .gallery img {
    height: 650px;
  }
  .benefits .container .content .description {
    width: 30%;
  }

  footer .content nav.compact-list {
    display: none;
  }
  footer .social ul {
    margin: auto;
  }
  footer .social ul li {
    margin: 30px auto;
  }
  footer .social ul li a {
    font-size: 1.2rem;
    padding: 20px 15px;
  }
}
