* {
  margin: 0;
  padding: 0;
}

.fullbar {
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 100;
}

.fullbar nav {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sticky {
  transition: 0.6s;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  background-color: #000000b4;
}

.fullbar li button {
  color: var(--white);
}

.fullbar li:first-child {
  margin-right: auto;
}

.fullbar img {
  width: 75%;
}

.sidebar {
  box-shadow: -10px 0 10px rgba(19, 19, 19, 0.123);
  /* backdrop-filter: blur(10px); */
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: #000000;
  z-index: 999;
  display: none;
  transition: 0.4s;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar li {
  padding: 15px 0px;
  display: flex;
  justify-content: flex-start;
}

.sidebar li:first-child {
  justify-content: flex-end;
  margin-top: 20px;
  padding: 10px;
}

a {
  z-index: 20;
  position: relative;
  width: 100%;
  padding: 0 30px;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  transform: scaleY(2.5);
  opacity: 0;
  transition: 0.3s;
}

a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transform: scale(0);
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
}

a:hover {
  color: #000000;
  &:before {
    transform: scaleY(1.5);
    opacity: 1;
  }
  &:after {
    transform: scaleY(1.5);
    opacity: 1;
  }
}

ul {
  list-style: none;
}

button {
  color: var(--white);
  padding: 5px 10px;
  border: none;
  background-color: transparent;
}
button:hover {
  cursor: pointer;
}

header.sticky ul li a {
  color: #000;
}

@media (max-width: 375px) {
  .sidebar {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .fullbar li:not(:first-child):not(:last-child) {
    display: none;
  }
}

@media (min-width: 751px) and (max-width: 1199px) {
  .fullbar li:not(:first-child):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)):not(:last-child) {
    display: none;
  }
  .sidebar li:nth-child(2),
  .sidebar li:nth-child(3),
  .sidebar li:nth-child(4) {
    display: none;
  }
}

@media (min-width: 1200px) {
  .sidebar {
    display: none !important;
  }
  .fullbar li:last-child {
    display: none;
  }
  .fullbar img {
    width: 100%;
  }
}
